@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.icon {
  height: 5em;
}

.button {
  background-color: $grey-1;
  color: $white-1;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 30px -5px $grey-1;
  p {
    margin: 0;
  }
}

.valuePropSection {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 45px 37px;
  padding-bottom: 0;
  color: $grey-1;
  text-align: center;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @include desktop {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
