@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.footer {
  background-color: $grey-1;
  color: $white-1;
  font-weight: bold;
  height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    height: 400px;
  }
}

.content {

  @include tablet {
    flex-basis: 40%;
    text-align: center;
  }
  @include desktop {
    flex-basis: 40%;
    text-align: center;
  }
}

.socialMedia {
  display: flex;
  justify-content: space-around;
}

.socialMediaLink {
  width: 4em;
  height: 4em;
}
