@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.footer {
  background-color: $grey-1;
  color: $white-1;
  font-weight: bold;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    height: 400px;
  }
}
