@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.introSection {
  min-height: 100vh;
  padding: 45px 37px;
  padding-bottom: 0;
  color: $grey-1;
}

.mainContent {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;

    .introFigure {
      flex: 1;
    }

    .blurb {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include desktop {
    flex-direction: row;

    .introFigure {
      flex: 1;
    }

    .blurb {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.title,
.blurb h1 {
  text-align: center;
  text-transform: capitalize;
}

.title {
  font-weight: 300;
}

.blurb h1 {
  font-weight: bold;
}

// ANIMATIONS
.title {
  animation: slide-from-top 0.5s normal forwards;
}

.mainContent {
  animation: slide-from-bottom 1s normal forwards;
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
