@import "~bulma/sass/utilities/_all"
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Raleway');

// Config
$kaldi-red: #3d8cb1
$kaldi-red-invert: #fff;

$primary: #545871;
$accent-1: #FF990F;
$accent-2: #F8F8F8;

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma/sass/layout/hero.sass"
@import "~bulma/sass/layout/footer.sass"
@import "~bulma/sass/layout/section.sass"
@import "~bulma/sass/elements/container.sass"
